{% extends 'base-admin.html.twig' %}

{% block title %}Menu configuration.{% endblock %}
{% block h1 %}Menu configuration.{% endblock %}

{% block body %}

    <div class="example-wrapper">
        <div class="count">
            Total: {{ pagination.getTotalItemCount }}
            <div class="float-right">
                <a class="btn btn-success" href="{{ path('menu_admin_config_save') }}">Create New</a>
            </div>
            <hr>
        </div>

        <table class="table table-bordered">
            <tr>
                <th>#ID</th>
                <th>Name</th>
                <th>Type</th>
                <th>Url Path Type</th>
                <th></th>
            </tr>
            {% for item in pagination %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>
                        <a href="{{ path('menu_admin_config_show', {id: item.id}) }}">
                            {{ item.name }}
                        </a>
                    </td>
                    <td>{{ item.type }}</td>
                    <td>{{ item.urlPathType }}</td>
                    <td>
                        <div class="float-right">
                            <a class="btn btn-dark"
                               href="{{ path('menu_admin_config_save', {id: item.id}) }}">Edit</a>
                            <a class="btn btn-info"
                               href="{{ path('menu_admin_config_show', {id: item.id}) }}">Show</a>
                            <a class="btn btn-danger" href="{{ path('menu_admin_config_delete', {id: item.id}) }}"
                               onclick="return confirm('Delete this item?');"
                            >Delete</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <hr>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>

    </div>
{% endblock %}
