{% if item.route is not empty %}

    {% if showLinkInActive == false and item.route == request.get('_route') %}
        <strong>{{ item.name }}</strong>
    {% else %}
        <a href="{{ path(item.route) }}" class="nav-link"> {{ item.name }}</a>
    {% endif %}

{% elseif item.url is not empty %}
    {% set url = item | mUrl %}
    {% set isActive = item | mIsActive(request.server.get('REQUEST_URI')) %}
    {% if showLinkInActive == false and isActive  %}
        <strong>{{ item.name }}</strong>
    {% else %}
        <a href="{{ url }}">{{ item.name }}</a>
    {% endif %}
{% else %}
    {{ item.name }}
{% endif %}